@media(max-width: 767.98px) {
    .popup-cadastro {
        padding: 100%;
        top: 50%;
        background: #ffffff;
    }

    .sub-form {
        width: 55vh;
        height: 75vh;
    }

    .form {
        margin-top: -2rem;
    }

    .menu-navegacao {
        width: 100%;
    }
}
